Django<5
bitarray
html5lib
six
dnspython
lxml
ovirt-engine-sdk-python
pycurl
matplotlib
pyOpenSSL
psycopg2
python-ldap
python-saml
paramiko
defusedxml
python-dateutil
requests
WeasyPrint
webencodings
xml-marshaller
cryptography
pyrad
pyotp
qrcode
pylibmc
gunicorn
pywinrm
pyvmomi
pyjwt
krb5
gssapi
